<!DOCTYPE html>
<html>
<title>Dooley Eats Homepage</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}

</style>
<body>
<% include ./partials/messages %>

<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card w3-top w3-large w3-animate-left" style="display:none;z-index:2;width:30%;min-width:300px" id="mySidebar">
  <button class="w3-bar-item w3-button w3-hide-large"
    onclick="w3_close()">Close &times;</button>
  <a href="#Menu" onclick="w3_close()" class="w3-bar-item w3-button">Menu</a>
  <a href="#Trending_Restaurants" onclick="w3_close()" class="w3-bar-item w3-button">Trending Restaurants</a>
  <a href="#About_Us" onclick="w3_close()" class="w3-bar-item w3-button">About Us</a>
</nav>

<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1100px;margin:left">
    <div class="w3-large w3-button w3-padding-16  w3-left" onclick="w3_open()">☰</div>
    <div class="w3-right w3-padding-16 ">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        <a class="lead mb-3" href="/posts/new_post">+ create new post</a>
      </button>
      
      <form action="/posts" method="GET" class="form-inline">
      <input class="form-control mr-sm-2" type="search" name = "search" placeholder="Search" aria-label="Search" />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
      </form>
      </div>
    
    <div class="w3-left w3-padding-16 ">
        <p class="lead mb-3"><a href = "/users/<%= currUser._id %>" >Welcome <%= username%>!  </a>
        </p>
        <a href="/users/logout" class="btn btn-outline-secondary btn-sm">Sign Out</a>
        
    </div>
    <!-- <div class="w3-left w3-padding-16"><a href = "login.html" >Login/ </a></div>
    <div class="w3-left w3-padding-16"><a href = "register.html" > Register</a></div> -->
    <div class="w3-center w3-padding-16"><img src="https://qiaolin22.github.io/login/static/image/logo.png" alt="Logo" style="width:8%"></div>
  </div>
</div>

<hr id="Menu">
<hr id="Trending Restaurants">

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
    <div>
        <span style="color:rgba(75, 50, 214, 1); font-size: 150%"><a href="/posts/">View all posts here</a></span>
    </div>
    <hr>
  <div style="background-color:rgba(250, 209, 148, 0.25)">
  
  <h2>Trending Posts</h2>

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16" id="Trending_Restaurants">
    <div class="w3-quarter">
      <img alt="#New Discovery" style="width:100%" src= "https://zoeskitchen.com/images/og-share/zoeslocationsweb.jpg">
      <h3><a href="/Posts/5dbfabacc77a927e1052a976" target="_blank">Good food in Zoes Kitchen</a></h3>
      <p>Recommend for a quick dine at Zoes Kitchen. Right across the street from Barnes & Nobles.</p>
    </div>
    <div class="w3-quarter">
      <img alt="#Food Recipe" style="width:100%" src="https://www.emorywheel.com/wp-content/uploads/2013/04/falafelkingweb.jpg">
      <h3><a href="/Posts/5dc03f9d24fc6283f643f8a1" target="_blank">My everyday cafeteria -- Falafel King!!!</a></h3>
      <p>Great restaurant </p>
    </div>
    <div class="w3-quarter">
      <img alt="#Trending Restaurants" style="width:100%" src="https://cdn.thegavoice.com/wp-content/uploads/2017/10/IMG_8475-1-750x400.jpg">
      <h3><a href="/Posts/5dc10a84ae8dbc9fcf240dd8" target="_blank">Yummy Spicy Is Awesome!</a></h3>
      <p>This is so delicious! Check out this restaurant on Buford Highway! </p>
    </div>
    <div class="w3-quarter">
      <img alt="#Foodie Story" style="width:100%" src="https://www.wagaya.us/img/gallery/wagaya_three_tonkotsu_b.jpg">
      <h3><a href="/Posts/5dc5e1d8bcfc50bda886f5a4" target="_blank">Wagaya--You Cannot Miss This</a></h3>
      <p>Awesome Japanese Restaurant </p>
    </div>
    
  </div>
</div>
<hr>

  <h2>Newest Posts</h2>
  <!-- Second Photo Grid-->
  <div class="w3-row-padding w3-padding-16">
    <div class="w3-quarter">
      <img alt="#Discount Activities" style="width:100%" src="https://assets3.thrillist.com/v1/image/2761948/size/tl-full_width_tall_mobile.jpg">
      <h3><a href="/Posts/5dc70f55785cffe550b42dc0" target="_blank">The Best Places to Grab Ice Cream Near Emory University</a></h3>
      <p>Ice cream is always on my agenda. It's a priority and a necessity. After scouring high and low for the perfect pick-me-up, 
        I've rounded up the absolute best ice cream near Emory that ATL has to offer...</p>
    </div>
    <div class="w3-quarter">
      <img alt="#American Food" style="width:100%" src="https://www.atlantaeats.com/wp-content/uploads/2019/06/SWEETWATER-interior-600x400.jpg">
      <h3><a href="/Posts/5dc704a3b13cdbdb52ef78a0" target="_blank">The Best Places to Celebrate Your Birthday in Atlanta</a></h3>
      <p>You finalized the guest list, decided on your outfit, and have one last decision to make: the destination that will be fortunate enough to host your big day. 
        Since Atlanta boasts such incredible eateries, choosing a locale to host your birthday celebration may seem 
        quite challenging...</p>
    </div>
    <div class="w3-quarter">
      <img alt="#Dessert" style="width:100%" src="https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AAHbHVW.img?h=552&w=750&m=6&q=60&u=t&o=f&l=f&x=890&y=667">
      <h3><a href="/Posts/5dc7017ee349f2d93a1b06c4" target="_blank">The 5 Best Atlanta Restaurants That Are Open 24 Hours</a></h3>
      <p>Going back to school means settling back into the regularly scheduled programming of being a college student. When you're out and about in the earliest hours of the morning,
         oftentimes you find yourself absolutely starving for no reason in particular...</p>
    </div>

    <div class="w3-quarter">
        <img alt="#Dessert" style="width:100%" src="https://s3.amazonaws.com/secretsaucefiles/photos/images/000/212/053/large/IMG_5579_%282%29.jpg?1533615412">
        <h3><a href="/posts/5dc72b0fdbc1da614db44c15s" target="_blank">I Ate Jackfruit for the First Time, and This Is How It Went</a></h3>
        <p>I had never seen a jackfruit let alone taste one before this summer. However, it just so happens that my uncle Kumar Fudong owns a farm in Itahari, a southern town in Nepal, that has a few jackfruit trees. 
          And it just so happens that I went to Nepal this summer with my family....</p>
      </div>
  </div>

  <hr id="About_Us">

  <!-- About Us Section -->
  <style> div.blue { background-color:rgba(250, 209, 148, 0.25); border-radius: 5px; padding: 20px;} </style>
      <div class = "blue">
  <div class="w3-container w3-padding-32">
  <h2>HangOut</h2>
    <div class="w3-padding-32">
            <img style="width:100%">
            <h3><a href="/Posts/5dc72c61dbc1da614db44c16" target="_blank">Free Pepperoni Pizze At Blaze Pizza!!!</a></h3>
            <p>Anyone want to grab a free pizza together tomorrow at 12pm? Blaze Pizza has a... </p>
          </div>

          <div class="w3-padding-32">
              <img style="width:100%">
              <h3><a href="/Posts/5dc72f1ddbc1da614db44c17" target="_blank">Anyone want to go to GreatWall Supermarket in Duluth?</a></h3>
              <p>Next Sunday 6pm. Anyone wants to uber to... </p>
            </div>
    </div class = "blue">
    </div>
  </div>
  <hr>

  <!-- Social Networks -->
  <footer class="w3-row-padding w3-padding-32">
    <div class="w3-third">
      <h3>FOLLOW US</h3>
      <ul class="w3-ul w3-hoverable">
        <li class="w3-padding-16">
          <img src="https://qiaolin22.github.io/login/static/image/facebook-icon.svg" alt="Facebook" style="width:10%">
          <span class="w3-large"><a href="https://Facebook.com" target="_blank">Facebook</a></span><br>
        </li>
        <li class="w3-padding-16">
          <img src="https://qiaolin22.github.io/login/static/image/Twitter.png" alt="Twitter" style="width:10%">
          <span class="w3-large"><a href="https://Twitter.com" target="_blank">Twitter</a></span><br>
        </li>
        <li class="w3-padding-16">
          <img src="https://qiaolin22.github.io/login/static/image/instagram_icon.jpeg" alt="Instagram" style="width:10%">
          <span class="w3-large"><a href="https://Instagram.com" target="_blank">Instagram</a></span><br>
        </li>
      </ul>
      <p>Powered by <a href=/dashboard>Team 0100.0</a></p>
    </div>

    <div class="w3-third">
      <h3>BLOG POSTS</h3>
      <ul class="w3-ul w3-hoverable">
        <li class="w3-padding-16">
          <img src="https://qiaolin22.github.io/login/static/image/blog-icon.png" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Food Posts</span><br>
          <span><a href = "/posts" >View All Posts Here</a></span>
        </li>
        <li class="w3-padding-16">
          <img src="https://qiaolin22.github.io/login/static/image/blog_icon2.png" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large">Discussions</span><br>
          <span><a href = "/forum" >Discussions go here:</a></span>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-serif">
      <h3>POPULAR TAGS</h3>
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Dinner</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Salmon</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">France</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Drinks</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Flavors</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Cuisine</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Chicken</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Dressing</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fried</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fish</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Duck</span>
      </p>
    </div>

    
  </footer>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
